{% extends 'lacri/main.html' %}

{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'lacri/css/main.css' %}" rel="stylesheet">
{% endblock %}

{%block title %}lacri{% endblock %}

{% block details %}
  <section class="domain light">
    <div class="container">
      <h2>{{ domain.common_name }}</h2>
    </div>
  </section>
  <section class="nginx light">
    <div class="container">
      <div class="row">
          <h4>nginx</h4>
      </div>
      <div class="row">
        <pre><code>cd /etc/nginx
curl -b "sessionid={{ view.request.session.session_key }}" {{ view.request.scheme }}://{{ site.domain }}{% url 'domain_tar' username=user.username root_slug=root.slug domain=domain.common_name %} | tar xf -</pre></code>
        <pre><code>server {
        # ...
        listen 443 ssl;
        server_name {{ domain.common_name }};
        ssl_certificate /etc/nginx/ssl/{{ domain.common_name }}.crt;
        ssl_certificate_key /etc/nginx/ssl/{{ domain.common_name }}.key;
}</code></pre>
      </div>
    </div>
  </section>
  <section class="apache light">
    <div class="container">
      <div class="row">
        <h4>Apache2</h4>
      </div>
      <div class="row">
        <p>TODO: apache2 instructions</p>
        <pre><code>cd /etc/apache2
curl -b "sessionid={{ view.request.session.session_key }}" {{ view.request.scheme }}://{{ site.domain }}{% url 'domain_tar' username=user.username root_slug=root.slug domain=domain.common_name %} | tar xf -</pre></code>
        <pre><code>&lt;IfModule mod_ssl.c&gt;
    &lt;VirtualHost _default_:443&gt;
        # ...
        ServerName {{ domain.common_name }}
        # TODO: FIXME
        ServerAlias {{ domain.common_name }}
        DocumentRoot /var/www/html
        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/{{ domain.common_name }}.crt
        SSLCertificateKeyFile /etc/apache2/ssl/{{ domain.common_name }}.key
    &lt;/VirtualHost&gt;
&lt;/IfModule&gt;</code></pre>
      </div>
    </div>
  </section>

  <section class="downloads light">
    <div class="container">
      <div class="row">
        <h4>Downloads</h4>
      </div>
      <div class="row">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>File</th>
              <th>Description</th>
              <th>Fingerprint</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href='{% url 'domain_cert_pem' username=username root_slug=root_slug domain=domain.common_name %}'>{{ root.slug }}.crt</a></td>
              <td>PEM formatted certificate</td>
              <td>{{ domain.cert_fingerprint }}</td>
            </tr>
            <tr>
              <td><a href='{% url 'domain_cert_chain_pem' username=username root_slug=root_slug domain=domain.common_name %}'>{{ root.slug }}.chain.crt</a></td>
              <td>PEM formatted certificate chain</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><a href='{% url 'domain_key_pem' username=username root_slug=root_slug domain=domain.common_name %}'>{{ root.slug }}.key</a></td>
              <td>PEM formatted unencrypted key</td>
              <td>{{ root.key_fingerprint }}</td>
            </tr>
            <tr>
              <td><a href='{% url 'domain_tar' username=username root_slug=root_slug domain=domain.common_name %}'>{{ root.slug }}.tar</a></td>
              <td>Certificate &amp; Key archive</td>
              <td>{{ root.key_fingerprint }}</td>
            </tr>
          </tbody>
        </table>
        <p></p>
      </div>
    </div>
  </section>
{% endblock %}
