{% extends 'lacri/skel.html' %}

{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'lacri/css/index.css' %}" rel="stylesheet">
{% endblock %}

{%block title %}lacri{% endblock %}

{% block content %}
  <section class="header">
    <div class="container">
      <img style="width:200px;" src="{% static 'lacri/img/pillar-ink.png' %}" alt=""></img>
      <div class="row">
        <h1 class="title">LACRI</h1>
        <p class="subtitle">Self-signed certificates</h2>
      </div>
    </div>
  </section>
  <section class="account">
    <form method="post">
      <div class="row">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input class="button-primary" type="submit" value="Enter" id="submit" />
        {{ form.errors }}
      </div>
    </form>
  </section>
{% endblock %}
